* {
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
/* 	width:100%; */
	font-family: 'Philosopher' , sans-serif;
}
body {
	background-image: url("images/cheap_diagonal_fabric.png");
	background-color: transparent;
	font-size:100%;
}

/* .col-1 {width: 8.33%; padding:1%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
 */
.len-2 {
	height: 16.66%;
}

[class*='col-'] {
/* 	width: 100%; */
	float:left;
}

[class*='contact col-'] {
	padding: none;
	margin: none;
	border-style: none;
}

.row {
	border-bottom-style: solid;
	border-color: #cccccc;
}

.row::after {
    content: "";
    clear: both;
    display: table;

}

#right_fix {
	border-style: none;
}

.header {
 	font-size: 2.5em; 
	font-weight: bold;
	background: transparent;
/* 	padding:25px 20px 25px 20px ;
margin-bottom: 0px 0px 10px 0px ; */
	float:left;
/* 	width: 45%; */
	text-align: left;	
}

#headshot {
	border-color: #bbceed;
	border-width: 10px;
	float: left;
	object-fit: fill;
	width:20%;
	height:20%;

}
.nav {
	background: transparent;
/* 	padding:25px 20px 53px 250px ;
margin-bottom: 0px 0px 30px 0px ; */
/* 	width: 45%; */
	float:left;
	text-align: left;
}

#middle {
	border-right-style: solid;
	border-left-style: solid;
	border-color: #f2f2f2;
}

.link {
	padding-right: 15px;
	padding-left: 15px;

}

.link:hover {
	color: #d9d9d9;
}

.link:focus, .link:active {
	color:#cccccc;
}

.link2 {
	object-fit: contain;
/* 	width: 50px;
height: 50px; */
}

.link2:hover {
	outline: 1px solid gray ;
	outline-offset: 1px;
}

.section_left {
	clear: both;
	background: radial-gradient(#bac9e2, #d9d9d9);
	float: left;
/* 	margin: 20px 20px 20px 40px;
padding:25px; */
/*  	max-width: 58%;  */
 	object-fit: contain;
 	border-style: solid;
 	border-color: #cccccc;
}

.portfolio {
	float:left;
	object-fit: contain;
	padding: 1%; 	
/* 	width: 28%; */
	height: 28%;
/* 	margin: 1%;
margin-left: 2%; */
}

.article{
/* 	background: #bec6d3 */;
	object-fit: contain;
	text-align: left;
	display: inline-block;
}

#headshot {
	margin-right: 10px;
}

.article_h {
	font-size: 1.8em;
	background: transparent;
	border-bottom-style: solid;
	object-fit: contain;
	border-color: #cccccc; 
}

#article_p {
	clear:both;
	background: transparent;
	object-fit: contain;
	border-top-style: solid;
	border-top-color: #cccccc;
}

.section_right {
/* 	padding: 10px; */
	background: radial-gradient(#bac9e2, #d9d9d9);
/* 	margin-top: 20px; */
	float: left;
/* 	width: 25%;  */
	border-style: solid;
	border-color: #cccccc;
	height: 25%;
}

.right_header {
	background:transparent;
	border-bottom-style: solid;
	border-bottom-color:#cccccc;
	margin-right: 20px;
	padding: 10px;
}

.right_article {
	background:transparent;
	object-fit: contain;
	float:left;
	padding: 0px;
/* 	margin: 0px -35px 50px 10px; */
}

#footer {
	clear: both;
	margin-top: inherit;
	background: radial-gradient(#cccccc, #d9d9d9);
	border-style: solid;
	border-color: #cccccc;
}
.rcp {
/* 	object-fit: contain; */
}

.rcp:hover {
	width:110%;
	height:110%;
    margin-left: -5%;
    margin-top:-5%; 
}

.icon {
	margin-left: 3%;
	padding-left: 0px;
	padding-top:7%; 	
 	display: inline-block; 
	float: left ;
	position: relative;
}

a {
	padding:0;
}

img {
	padding:0;
	object-fit: fill;
}

.contact {
/* 	margin: 10px; */
	text-align: left
}

#message {
 	height: 150px; 
}

.foot_container {
	height:50%;
	clear: both;
}

.spacer {
	padding:2%;
}

@media only screen and (min-width: 240px) {
	.col-1 {width: 8.33%; padding:1%}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
	.col-m-1 {width: 8.33%; padding:1%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 980px) {
	.col-l-1 {width: 8.33%;padding:1%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
}
